* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   display: flex;
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   /* width: 100vw; */
}

.main {
   /* background-color: red; */
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   /* background-color: red; */
}

.uppernav{
   width: 100vw;
   display: flex;
   justify-content: right;
   align-items: center;
   /* gap: 10px; */
}

.nav2 ul li {
   padding: 15px 30px;
}

.nav2 ul li a i {
   padding-right: 7px;
}
.dropdown{
   /* background-color:green; */
   position: absolute;
   top: 100%;
   right: 1%;
   width: 200px; 
   overflow: hidden;
   transition: max-height 0.5s;
}
.open-menu{
   display: none;
   height: 0px;
}
#lowernav 
{
   margin-top: 7px;
   display: block;
   width: 300px;
   right: 0.1%;
   background-color: #515358;
   border-radius: 5px;
   /* padding: 5px 5px; */
}
#lowernav li a{
   /* padding-top: 4px; */
   margin-right: 2px;
   display: block;
   color:#ffffff;
   /* color: red; */
   text-align: left;

}
#lowernav li a i{
   margin-right:6px;
}
 

.navbar {
   height: 50px;
}

nav {
   /* background-image: linear-gradient(#3E5151); */
   background: #3E5151;
  /* background-color:#363636; */
   position: fixed;
   right: 0px;
   left: 0px;
}

ul {
   list-style-type: none;
}

li a {
   color: #ffffff;
   text-decoration: none;
}

a {
   text-decoration: none;
}

li a:hover {
   text-decoration: underline;
}

.get-started-btn {
   padding: 13px 30px;
   letter-spacing: .25px;
   cursor: pointer;
   color: #fff;
   background-color: #0F8CDF;
   border-radius: 4px;
   border-style: none;
   font-size: 13px;
   font-weight: 700;
   margin-top: -30px;
   height: 42px;
   width: 139px;
   font-family: "Open Sans", Helvetica, sans-serif;


}

.get-started-btn:hover {
   background-color: #1b66c9;
   box-shadow: 0px 1px 3px 1px rgba(201, 201, 201, 0.8);
}



.content {
   /* background-image: linear-gradient(#3E5151, #DECBA4); */
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   font-family: "Open Sans", Helvetica, sans-serif;
   font-size: 17px;
   width: 100vw;
   /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
}

.branding {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 40px;

}

#brand-logo {
   height: 450px;
}

.brand-get-started-btn {
   text-align: center;
   padding: 13px 30px;
   letter-spacing: .25px;
   cursor: pointer;
   color: #fff;
   background-color: #0F8CDF;
   border-radius: 4px;
   border-style: none;
   font-size: 18px;
   font-weight: 700;
   margin-top: 35px;
   height: 56px;
   width: 370px;
   font-family: "Open Sans", Helvetica, sans-serif;


}

.brand-get-started-btn:hover {
   background-color: #1b66c9;
   box-shadow: 0px 1px 3px 1px rgba(201, 201, 201, 0.8);
}

.part-1 {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(#3E5151, #DECBA4);

   /* background-color: #0F8CDF; */
}

.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   width:60%;
   /* background-color: white; */
}

.para1 {
   text-align: center;
   margin-top: 12px;
}

.part-2 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   /* background-color: red; */
   /* margin-top: 40px; */
   padding: 50px 0px;
   height: 4;
}

.part2-i {
   width: 550px
}

.concern {
   color: #4B525B;
   font-weight: 540;
   margin-bottom: 20px;
}

#flocking {
   /* width: 100%; */
   width: 361px;
   border-radius: 8px;
}

.part-3 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   padding: 50px 0px;
   gap: 8px;
}

#laptop {
   width: 450px;
   margin-left: 20px;
}

.part3-ii {
   width: 440px;
}

.part4 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.part4-i {
   width: 80%;
   /* width: 952px; */
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 20px;
   /* align-items: center; */
   text-align: center;
}

.part4 p {
   font-size: 16px;
   color: #4b525b;
}

.feature-icon h2 {
   font-size: 22px;
}

.feature-icon {
   width: 234px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.icon-img {
   margin-bottom: 8px;
   height: 80px;
   width: 80px;
   border: 1px solid black;
   border-radius: 50%;
   /* text-align: center; */
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-img img {
   width: 60px;
}

#sjournal-icon {
   margin-left: 10px;
}

.part-5 {
   margin-top: 80px;
}

.part-5 .part5-i h2 {
   font-weight: 500;
   font-size: 30.5px;
}

.part-5 .part5-ii a {
   color: #4b525b;
}

.SYF {
   margin-top: 60px;
   padding-top: 40px;
   /* height: 100px; */
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #4b525b;
   font-size: 30px;
   color: #e9e0e0;
}
.part-6 {
   /* height: 500px; */
   background-color: #4b525b;
   display: flex;
   /* flex-wrap: wrap; */
   justify-content: center;
   align-items: center;
   width: 100%;
   padding-top: 12px;
}

.p6-feedback {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   width: 50%;
}

.part6-i {
   /* background-color: red; */
   width: 350px;
   /* padding: 10px 10px; */
}

.part6-i label {
   margin-bottom: 5px;
   color: #e9e0e0;
   font-weight: 600;
}

.part6-ii {
   /* background-color: red; */
   width: 350px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 15px ;
}

.part6-ii textarea {
   /* margin-top: 10px; */
   padding: 10px 10px;
   width: 100%;
   /* border-style: none; */
   border-radius: 6px;
   background-color: #f2e8e8;
   font-size: 15px;
}
.part6-ii textarea:focus{
   outline: none;
}
.givefeedback {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin-top: 10px;
}

.givefeedback input {
   width: 100%;
   height: 45px;
   /* margin-top: 20px; */
   background-color: #f2e8e8;

   padding: 10px 14px;
   font-size: 17px;
   border-radius: 4px;
   border: 1px solid rgb(170, 160, 160);
}
.givefeedback input:focus{
   outline: none;
}
.fsubmit{
   text-align: center;
   padding: 13px 30px;
   letter-spacing: .25px;
   cursor: pointer;
   color: #fff;
   background-color: #0F8CDF;
   border-radius: 4px;
   border-style: none;
   font-size: 18px;
   font-weight: 700;
   margin-top:20px;
   margin-bottom:20px;
   height: 40px;
   width: 140px;
}
.fsubmit:hover{
   background-color: #3b73bd;
}
.foot {
   padding-top: 30px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #4b525b;
}

.foot a {
   font-size: 17px;
   color: #ffffff;
}