* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   display: flex;
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
   width:278px;
   height: 100vh;
}
.main {
   background-color: plum;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   /* background-color: red; */
}
.navbar{
   height: 50px;
}
nav{
   position: fixed;
}
.nav1 {
   display: flex;
   flex-direction: column;
   justify-content: left;
   font-family: Arial, sans-serif;
   font-size: 17px;
   /* position: fixed; */
   /* height: 100vh; */
   margin-right: 8px;
   text-align: center;
   /* background-color: #3e444f; */
   /* background-color: red; */
   /* width: 278px; */
   text-align: left;
   width: 100%;
}

.nav1-upperpart {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 55.5px;
   text-align: left;
   background-color: rgb(52 57 66);
}

.nav1-lowerpart {
   margin-right: 5px;
   height: 100vh;
   /* object-position: fixed; */
   /* position: fixed; */
   display: flex;
   flex-direction: column;
   justify-content: left;
   background-color: rgb(62 68 79);
}

.ham-right {
   height: 20px;
   /* position: absoulte; */
}

#search-bar {
   padding-left: 26px;
   padding-right: 10px;
   width: 95%;
   margin-top: 4px;
   margin-left: 7px;
   height: 31px;
   border-radius: 8px;
   border: 0.01px solid rgb(192, 183, 183);
   font-size: 15px;
   margin-bottom: 8px;


}

#search-bar::placeholder {
   color: #737884;
   letter-spacing: 0.6px;
}

#search-bar:focus {
   border-style: none;
   outline: 0.01px solid rgb(192, 183, 183);
   ;
}

#search-bar:focus::placeholder {
   color: #a3a6af;
}

.ajournals {
   /* margin: 12px 7px; */
   background-color: #676c74;
   height: 58px;
   display: flex;
   align-items: center;
   padding-left: 37px;
   /* border-radius: 8px; */
   /* display: block; */
   /* margin: auto; */
   text-decoration: none;
   color: #ffffff;
}

.ajournals:hover {
   background-color: #505761;
}
.ajournals 

.nav2 {
   background-color:rgb(234, 8, 12);

   /* overflow: inherit; */
   display: flex;
   /* justify-content: space-between; */
   height: 60px;
   /* padding-left: 278px; */
   /* padding-right: 40px; */
   /* background-image:linear-gradient(#3E5151); */
   background-color: #3E5151;

   /* background-color: rgb(179, 172, 172); */
   align-items: center;
   color: #ffffff;
   font-size: 17px;
   font-weight: 500;
   /* position: relative; */
}

.nav2 ul {
   width: 100vw;
   display: flex;
   justify-content: right;
   align-items: center;
   /* gap: 10px; */
}

#journal {
   font-weight: bold;
   color: #ffffff;
}

ul {
   list-style-type: none;
}

li a {
   color: #ffffff;
   text-decoration: none;
}

a {
   text-decoration: none;
}

li a:hover {
   text-decoration: underline;
}

.get-started-btn {
   padding: 13px 30px;
   letter-spacing: .25px;
   cursor: pointer;
   color: #fff;
   background-color: #0F8CDF;
   border-radius: 4px;
   border-style: none;
   font-size: 13px;
   font-weight: 700;
   margin-top: 30px;
   height: 42px;
   width: 139px;
   font-family: "Open Sans", Helvetica, sans-serif;


}

.get-started-btn:hover {
   background-color: #1b66c9;
   box-shadow: 0px 1px 3px 1px rgba(201, 201, 201, 0.8);
}



.content {
   /* background-image: linear-gradient(#3E5151, #DECBA4); */
   /* background-color: #ffffff; */
   display: flex;
   flex-direction: column;
   font-family: "Open Sans", Helvetica, sans-serif;
   font-size: 17px;
}

.branding {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 40px;

}

#brand-logo {
   height: 450px;
}

.brand-get-started-btn {
   text-align: center;
   padding: 13px 30px;
   letter-spacing: .25px;
   cursor: pointer;
   color: #fff;
   background-color: #0F8CDF;
   border-radius: 4px;
   border-style: none;
   font-size: 18px;
   font-weight: 700;
   margin-top: 35px;
   height: 56px;
   width: 370px;
   font-family: "Open Sans", Helvetica, sans-serif;


}

.brand-get-started-btn:hover {
   background-color: #1b66c9;
   box-shadow: 0px 1px 3px 1px rgba(201, 201, 201, 0.8);
}

.part-1 {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* background-color: #0F8CDF; */
}

.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   width: 710px;
   /* background-color: white; */
}

.para1 {
   text-align: center;
   margin-top: 12px;
}

.part-2 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: red;
   /* margin-top: 40px; */
   padding: 50px 15px;
   /* gap: 4px; */
}

.part2-i {
   width: 519px;
   /* height: auto; */
}

.concern {
   color: #4B525B;
   font-weight: 540;
   margin-bottom: 20px;
}

.para2 {}

#flocking {
   width: 361px;
   border-radius: 8px;
}

.part-3 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 50px 15px;
   gap: 8px;
}

#laptop {
   width: 450px;
   margin-left: 20px;
}

.part3-ii {
   width: 440px;
}