* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    background-color: #f0f2f5;
   /* background-image:linear-gradient(#3E5151,#DECBA4); */


}

.content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 650px;
    width: 1100px;
    border-radius: 8px;
   /* background-image:linear-gradient(#3E5151,#DECBA4); */
    background-color: #ffffff;
    /* background-color: #2c3940; */
    box-shadow: rgba(185, 178, 182, 0.4) -5px 5px, rgba(175, 169, 173, 0.3) -10px 10px, rgba(192, 190, 191, 0.2) -15px 15px, rgba(227, 220, 225, 0.1) -20px 20px, rgba(233, 230, 232, 0.05) -25px 25px;
}

.branding {
    display: flex;
    padding: 10px 50px;
    height: 500px;
    width: 600px;
    /* gap: 60px; */
   /* background-image:linear-gradient(#3E5151,#DECBA4); */
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.brand-name {
    font-size: 45px;
    color: #311a1a;
    /* height: 5px; */
}

#image {
    margin-top: 8px;
    margin-left: 60px;
}

#quote {
    margin-top: 8px;
    /* color: #311a1a; */
    margin-left: 20px;
}


.log-in-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    height: 550px;
    width: 550px;
    padding: 30px 55px;
    border-radius: 6px;
    /* background-color: #ffffff; */
   /* background-image:linear-gradient(#3E5151,#DECBA4); */
    /* background-color: red; */
}

#log-in {
    font-weight: bold;
    color: #311a1a;
    font-size: 32px;
    margin-bottom: 2px;
}
#error_show{
    position: absolute;
    margin-top: 35px;
    color: red;
    font-size: 15px;
    margin-bottom: 2px;
}
input {
    width: 100%;
    height: 48px;
    margin-top: 22px;
    padding: 10px 14px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid rgb(170, 160, 160);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input::placeholder {
    color: #737884;
}
input:focus::placeholder{
    color: #a3a6af;
    background-color: #008fdc;
    position:absolute;
    /* padding-bottom: 20px; */
    /* text-transform:lowercase; */

}

input:focus {
    outline: 1px solid #008fdc;
}
#password_criteria{
    margin-right: 40px;
    margin-top: 252px;
    font-style: italic;
    position: absolute;
    font-size: 12px;
    color: #808691;
}
a {
    text-decoration: none;
    color: #008fdc;
}

a:hover {
    text-decoration: underline;
}

#pass {
    margin: 10px 0px;
}

.sign {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 20px;
    font-size: 18px;
}

.sign-up-btn {

    background-color: ffffff;
    font-size: 22px;
    font-weight: bold;
    width: 50%;
    border-style: none;
    background-color: #008fdc;
    color: #ffffff;
}
.sign-up-btn:hover{
    background-color: #0577b5e4;
    cursor: pointer;
    
}

.sign-up {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#terms {
    margin-top: 20px;
    font-style: italic;
    margin-right: 10px;
    width: 50%;
    font-size: 14px;
    color: #808691;
}

hr {
    margin-top: 18px;
    width: 100%;
    opacity: 0.3;
}

.log-in-here {
    color: #808691;
    margin-top: 30px;
    display: flex;
    gap: 4px;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: #2c3940;
    color: #ffffff;
}

.fcontent {
    width: 600px;
    /* background-color: red; */
}

.foot-1 {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color:  yellow; */
}

.foot-2 {
    margin-top: 20px;
    text-align: center;
    /* background-color: green; */
}

.fa {
    color: #ffffff;
}